body {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 110px 400px 100px 110px;
  grid-template-areas: "header header" "sidebar main" "sidebar extra" "footer footer";
  height: 100%;
  column-gap: 10px;
  row-gap: 15px;
}
.header {
  grid-area: header;
  background-color: skyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: xx-large;
}
.main {
  grid-area: main;
  background-color: hsl(49, 100%, 50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: xx-large;
}
.sidebar {
  grid-area: sidebar;
  background-color: hsl(101, 61%, 35%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: xx-large;
}

.extra {
  grid-area: extra;
  background-color: hsl(101, 3%, 50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: xx-large;
}

.footer {
  grid-area: footer;
  background-color: hsl(42, 100%, 52%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: xx-large;
}
span {
  display: flex;
  height: 100%;
  justify-content: center;
}
span.center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
